.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  height: 100px;
  width: 90%;
  border: 2px solid rgb(109, 223, 143);
  border-radius: 8px;
  margin: 10px 50px;
  display: flex;
  background-color:  #d279d2;
  font-size: 30px;
  color: rgb(102, 122, 63);
  font-weight: bold;
}

.header-text {
  align-self: center;
  margin: auto;
}

.cards-list {
  display: inline-flex;
}
