.comment-box {
  text-align: left;
  height: auto;
  border: 3px solid rgb(83, 178, 223);
  border-radius: 10px;
  font-size: 14px;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  word-wrap: break-word;
  padding: 15px;
  background-color: rgb(189, 242, 255);
}

@media (max-width: 400px) {
  .comment-box {
    margin: 20px auto;
    height: auto;
    padding: 10px;
  }
}

.comment-author {
  align-self: start;
  font-size: 20px;
  margin-bottom: 5px;
}
